.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
public/build
public/storage
.phpunit.result.cache
.phpunit.cache
tests
*.md
!README.md
PLANEJAMENTO*.md
.vscode
.idea
.DS_Store
Thumbs.db
